<form [formGroup]="filtersForm">
  <div formArrayName="filters" class="d-flex flex-wrap gap-2">
    <ng-container
      *ngFor="let fg of filters.controls; let i = index"
      [formGroupName]="i"
    >
      <div *ngIf="fg.get('isVisibleInRow')?.value" class="position-relative">
        <div type="button" class="filter-btn" (click)="toggleDropdown(i)">
          {{ fg.get("label")?.value }} &nbsp;
          <span class="ml-2">
            <i class="fa fa-angle-down"></i>
          </span>
          <button class="close-icon" (click)="removeFilter(i)">&#10006;</button>
        </div>

        <div *ngIf="openDropdownIndex === i" class="button-options">
          <div class="operator">
            <label for="custom-dropdown" class="dropdown-label"
              >Select Operator</label
            >
            <div class="custom-dropdown">
              <ng-select
                [items]="getOperators(fg.get('field')?.value)"
                bindLabel="label"
                bindValue="value"
                formControlName="operator"
                placeholder="Select an option"
                [clearable]="true"
                class="jira-ng-select"
                placeholder="Select Operator"
                [searchable]="false"
                (ngModelChange)="onOperatorChange(i)"
              ></ng-select>
            </div>
          </div>
          <div class="value-container">
            <ng-container #valueInputContainer></ng-container>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="position-relative" #addDropdownWrapper>
      <button type="button" class="add-btn" (click)="toggleAddDropdown()">
        &nbsp; &#x2b; Add
      </button>
      <div class="all-filter-list" *ngIf="isAddDropdownOpen">
        <ng-template #addDropdownDynamicContainer></ng-template>
      </div>
    </div>
  </div>
  <div class="mt-4" *ngIf="jqlQuery">
      <div class="alert alert-success w-100">
        <h5 class="m-0">
          <pre class="m-0" [innerHTML]="jqlQuery | highlightJql"></pre>
        </h5>
      </div>   
  </div>
</form>
