<div class="container-fluid">
  <div class="mt-5">
    <div class="card">
      <div class="card-header">
        <div class="card-title mt-2">
          <h4>Dynamic Filters Demo</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="mt-4">
          <div class="mt-4 mb-4">
            <lib-dynamic-filters
              [filterList]="productFilterColumnList"
              (result)="filterResults($event)"
              [selectedFilters]="selectedFilters"
            ></lib-dynamic-filters>
          </div>
          <h4 class="mb-3">Product List ({{ productList.length }})</h4>

          <div class="table-responsive">
            <table
              class="table table-bordered table-hover align-middle text-center"
            >
              <thead class="table-dark">
                <tr>
                  <th>Name</th>
                  <th>Brand</th>
                  <th>Category</th>
                  <th>Status</th>
                  <th>Price (₹)</th>
                  <th>Rating</th>
                  <th>Release Date</th>
                  <th>Created At</th>
                  <th>Features</th>
                </tr>
              </thead>
              <tbody *ngIf="productList.length > 0; else noData">
                <tr *ngFor="let product of productList">
                  <td>{{ product.name }}</td>
                  <td>{{ product.brand }}</td>
                  <td>
                    <span class="badge bg-primary">{{ product.category }}</span>
                  </td>
                  <td>
                    <span
                      class="badge"
                      [ngClass]="
                        product.isActive ? 'bg-success' : 'bg-secondary'
                      "
                    >
                      {{ product.isActive ? "Active" : "Inactive" }}
                    </span>
                  </td>
                  <td>{{ product.price | number }}</td>
                  <td>
                    <span class="badge bg-warning text-dark">{{
                      product.rating
                    }}</span>
                  </td>
                  <td>{{ product.releaseDate }}</td>
                  <td class="text-start">{{ product.createdAt }}</td>
                  <td>
                    <span
                      *ngFor="let feature of product.features"
                      class="badge bg-secondary me-1"
                    >
                      {{ feature }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noData>
  <tbody>
    <tr>
      <td colspan="9" class="text-center text-muted">No data found.</td>
    </tr>
  </tbody>
</ng-template>
